@charset "utf-8";

body {
    background-color: #FFE9F5;
	overflow-y: auto; /* 允许垂直滚动 */
    height: 100%; /* 让 body 占满整个视窗 */
    margin: 0; /* 去除默认的页面边距 */
    padding: 0; /* 去除默认的页面内边距 */
}

/* 設定頁面和影片的樣式 */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
}
  /* navber樣式 */
.navbar {
    width: 100%;
    background-color: #B889DE;
	font-family: "華康中特圓體", "微軟正黑體", "標楷體", "新細明體";
    color: #F5C0E0;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
/* 影片容器樣式 */
.video-container {
    position: absolute;
    top: 50px; /* 根據nav的高度進行調整 */
    left: 0;
    width: 100%;
    height: calc(100% - 50px); /* 100% 減去nav的高度 */
    overflow: hidden;
	pointer-events: none; 
}
/* 影片樣式 */
#fullscreen-video {
   position: fixed;
   top: 50px; /* 你想要影片停留的位置 */
   left: 0px;
   width: 100%; /* 影片宽度占满容器 */
   height: auto; /* 根据视频比例自适应高度 */
   object-fit: cover; /* 保持视频内容比例 */
   z-index: -1;  /*確保影片位於其他内容之下 */
}
