@charset "utf-8";
.title1 {
    color: #78090B;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;
}

.main1 {
    color: #015877;
    font-size: large;
    text-decoration: underline;
    background-color: #FCCDCD;
}
.main2 {
    color: #865C18;
    text-align: right;
}

#caption img {
    -webkit-box-shadow: 15px 15px #841D20;
    box-shadow: 15px 15px #841D20;
    background-color: #ECBFC0;
}
